body{
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: var(--dotf-main-color);
}

.right-side{
    flex: 1;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--dotf-alt-color-1);
    background-color: var(--dotf-alt-color-2);
    color: var(--dotf-text-color-1);
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: var(--dotf-alt-color-4);
    border-color: var(--dotf-alt-color-3);
}

/* MENU LATERAL */

.left-menu{
    height: 100%;
    width: 18vw;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
}

.left-menu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.left-menu-box{
    width: 100%;
    border: 3px solid var(--dotf-alt-color-1);
    border-radius: 15px;
    box-shadow: 0 2px 4px var(--shadow-color);
    font-size: 0.82em;
}

.menu-title{
    width: 100%;
    font-family: 'judas';
    font-size: 1.2em;
    text-align: center;
    -webkit-text-stroke: 1px var(--dotf-text-color-2);
}

.create-topic{
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INFORMAÇÕES DE USUÁRIO */

.user-box{
    height: fit-content;
    box-sizing: border-box;
    padding: 15px;
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 5px;
}

#sair{
    cursor: pointer;
}

/* FORMULÁRIO LOGIN/REGISTRO */

#register_form{
    display: none;
}

.form{
    height: fit-content;
    box-sizing: border-box;
    padding: 15px;
}

.form-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputs-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 90%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input input{
    width: 100%;
}

.submit{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .submit-button{
    height: 30px;
    width: fit-content;
    color: var(--dotf-text-color-1);
    font-weight: bold;
    background-color: var(--dotf-alt-color-2);
    border: 2px solid var(--dotf-alt-color-1);
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: var(--dotf-alt-color-4);
    border-color: var(--dotf-alt-color-3);
} */

.submit span{
    text-align: center;
}

.submit span span{
    text-decoration: underline;
    cursor: pointer;
}

.div-validacao{
    width: 15vw;
    min-height: fit-content;
    position: absolute;
    left: 110%;
    padding: 3px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    background-color: white;
    border: 1px solid black;
    font-size: 10px;
    color: red;
}

.span-validacao{
    display: none;
}

.span-registro-realizado{
    display: none;
    font-size: 13px;
    color: green;
    text-align: center;
}