body{
    margin: 0;
    padding: 0;
    display: flex;
}

/* HEADER */

header{
    height: 80px;
    flex: 1;
    border: 1px solid red;
}

/* MENU LATERAL */

.left-menu{
    height: 100vh;
    width: 20vw;
    box-sizing: border-box;
    border: 1px solid red;
}

/* INFORMAÇÕES DE USUÁRIO */

.user-box{
    height: fit-content;
    width: 90%;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid red;
    display: none;
    flex-direction: column;
}

/* FORMULÁRIO LOGIN/REGISTRO */

#register_form{
    display: none;
}

.form{
    height: fit-content;
    width: 90%;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid red;
}

.form-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 0.82em;
}

.form-title span{
    font-family: 'judas';
    font-size: 1.2em;
}

.inputs-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 90%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input input{
    width: 100%;
}

.submit{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button{
    height: 30px;
    width: fit-content;
}

.submit span span{
    text-decoration: underline;
    cursor: pointer;
}

.div-validacao{
    width: 15vw;
    min-height: fit-content;
    position: absolute;
    left: 110%;
    padding: 3px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    background-color: white;
    border: 1px solid black;
    font-size: 10px;
    color: red;
}

.span-validacao{
    display: none;
}

.span-registro-realizado{
    display: none;
    font-size: 13px;
    color: green;
    text-align: center;
}