/* HEADER */

header{
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid var(--dotf-alt-color-1);
    border-radius: 15px;
    box-shadow: 0 2px 4px var(--shadow-color);
    padding: 15px;
}

.header-content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-img{
    width: 15vw;
    filter: drop-shadow(0 0 5px var(--dotf-alt-color-1));
}

.header-img.img2{
    transform: scaleX(-1);
}

.header-title{
    width: 25%;
    text-align: center;
    font-size: 3em;
    margin-top: 2%;
    font-family: 'judas';
    -webkit-text-stroke: 2px var(--dotf-text-color-2);
}

/* MAIN */

main{
    flex: 1;
    border: 3px solid var(--dotf-alt-color-1);
    border-radius: 15px;
    box-sizing: border-box;
    padding-bottom: 7.5px;
    scrollbar-gutter: stable;
    overflow-y: auto;
}

/* main::-webkit-scrollbar{
    border-radius: 50%;
    background-color: transparent;
} */

main::-webkit-scrollbar-track{
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    background: var(--dotf-alt-color-2);
}

main::-webkit-scrollbar-thumb{
    width: 1px;
    border-radius: 15px;
    background-color: var(--dotf-alt-color-1);
}

.main-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-header{
    top: 0;
    position: sticky;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--dotf-alt-color-1);
    text-align: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 2px;
    background-color: var(--dotf-alt-color-2);
}

.main-header-section-1{
    width: 50%;
}

.main-header-section-2{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-header-section-2 div{
    height: 80%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--dotf-alt-color-1);
}

/* TÓPICOS */

.topic{
    min-height: 110px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    /* border: 1px solid red; */
    border-top: 1px solid var(--dotf-alt-color-3);
    /* border-bottom: 1px solid var(--dotf-alt-color-3); */
    display: flex;
    flex-direction: row;
    /* background-color: var(--dotf-alt-color-4); */
}

.topic-info-1{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    /* border: 1px solid red; */
    padding: 5px 15px;
}

.topic-title a{
    color: var(--dotf-alt-color-3);
}

.topic-info-2{
    flex: 1;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

.topic-info-2 div{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--dotf-alt-color-3);
}

/* SESSÃO CRIAR TÓPICO */

.create-topic-button{
    position: relative;
}

.topic-form-section{
    display: none;
    z-index: 10;
}

.topic-form-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--shadow-color);
}

.topic-form-section-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: fit-content;
    width: fit-content;
    /* box-sizing: border-box; */
    padding: 25px 30px 30px;
    border-radius: 15px;
    border: 3px solid var(--dotf-alt-color-1);
    background-color: var(--dotf-main-color);
}

.topic-form-title span{
    color: var(--dotf-text-color-1);
    -webkit-text-stroke: 1px var(--dotf-text-color-2);
    font-family: 'judas';
    font-size: 1.5em;
}

.topic-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    font-size: 1.2em;
}

.topic-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.topic-input label{
    margin-left: 15px;
}

.topic-input input, .topic-input textarea{
    height: fit-content;
    width: 100%;
    font-size: 0.8em;
    font-family: Arial;
}

.topic-submit{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}