/* FONTES */

@font-face{
    font-family: 'judas';
    src: url('../fonts/Judas.ttf');
}

/* VARÍAVEIS */

:root{
    --sfv-main-color: #ffa904;
    --sfv-alt-color-1: #dd0103;
    --sfv-alt-color-2: #f73a05;
    --sfv-alt-color-3: #805300;

    --dotf-main-color: #01081a;
    
    --dotf-alt-color-1: #db2c31;
    --dotf-alt-color-2: #792026;
    --dotf-alt-color-3: #98b0dc;
    --dotf-alt-color-4: #26348c;

    --dotf-text-color-1: #d2d1bd;
    --dotf-text-color-2: #575641;

    --shadow-color: #00000067;
}

/* CONFIG */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: var(--dotf-text-color-1);
}