.post-title{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    -webkit-text-stroke: 1px var(--dotf-text-color-2);
    font-family: 'judas';
    margin: 20px 0;
}

/* VOTAÇÃO */

.votacao-input-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.votacao-input{
    margin-right: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */
}

.votacao-input input{
    display: none;
    /* appearance: none; */
}

.votacao-input label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;   
    font-family: 'judas';
    font-size: 0.8em;
}

.votacao-input-img{
    width: 150px;
    padding: 5px;
    border: 7px double var(--dotf-alt-color-1);
    border-radius: 15px;
    box-shadow: 0 5px 5px var(--shadow-color);
}

.votacao-submit{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* DASHBOARD */

.votacao-dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 20px 0; */
}

.kpi-section{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dashboard-kpi{
    height: 13vw;
    width: 14vw;
    box-sizing: border-box;
    padding: 5px;
    border: 7px double var(--dotf-alt-color-1);
    border-radius: 15px;
    box-shadow: 0 5px 5px var(--shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.kpi-title{
    margin-top: 5px;
    font-family: 'judas';
    font-size: 1.1em;
}

.kpi-content{
    height: 60%;
    width: 60%;
    background-color: var(--dotf-alt-color-4);
    border: 2px solid var(--dotf-alt-color-3);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bold;
    /* font-family: 'judas'; */
    box-shadow: 0 5px 5px var(--shadow-color);
}

.charts-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 40px 0 20px;
}

.chart-box{
    /* height: 500px; */
    /* width: 90%; */
    border: 5px double var(--dotf-alt-color-1);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px var(--shadow-color);
}

#chart_albuns{
    height: 60vh;
    width: 90%;
}

.chart{
    flex: 1;
    width: 90%;
}

.chart-title{
    /* margin: 10px 0; */
    font-family: 'judas';
    font-size: 1.5em;
    -webkit-text-stroke: 1px var(--dotf-text-color-2);
}

canvas{
    /* height: 50%; */
    border: 2px solid var(--dotf-alt-color-3);
    border-radius: 15px;
    /* background-color: var(--dotf-alt-color-4); */
}